@charset "utf-8";

$baseColor:#464646;

body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, button, select, input, textarea, th, td {margin:0; padding:0;}

body {font-family:AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif; font-size:12px; color:$baseColor;}

img {border:none; vertical-align:top;}

ul li , ol li {list-style:none;}

fieldset {border:none;}

table {border-collapse:collapse;}
caption {display:none;}

img, fieldset, button {border:0; padding:0px;}
button {background:none;}
input, select {vertical-align:middle;}
legend {width:0; height:0; font-size:0; position:absolute; overflow:hidden;} 
button, input, textarea {outline:none;}
button, input[type="button"], input[type="submit"], input[type="image"] {cursor:pointer;}

a {color:$baseColor; text-decoration:none; cursor:pointer;}
a:link {color:$baseColor;}
a:visited {color:$baseColor;}
a:active {color:$baseColor;}
a:hover {color:$baseColor;}

body {background:#dedede;}

#header {
	&:after {
		display:block;
		content:'';
		clear:both;
	}
	ul.h_util {
		float:right;
		margin:15px 15px 0 0;
		li {
			position:relative;
			button {
				width:26px;
				height:26px;
				span {
					display:block;
					width:16px;
					height:16px;
					margin:0 auto;
					background: {
						image:url(../images/menu.png);
						repeat:no-repeat;
						size:16px 16px;
					}
					text-indent:-9999px;
					opacity:0.6;
				}
				&:hover{
					span {
						opacity:1;
					}
				}
			}
			.menu_icon {
				display:none;
				position:absolute;
				top:30px;
				right:4px;
				width:258px;
				padding:20px;
				background:#fff;
				border:1px solid #ccc;
				-webkit-box-shadow:0 2px 10px rgba(0,0,0,.2);
				box-shadow:0 2px 10px rgba(0,0,0,.2);
				ul {
					overflow:hidden;
					li {
						float:left;
						margin-right:20px;
					}
				}
			}
		}
	}
}

.search_wrap {
	position:relative;
	width: 350px;
	height: 40px;
	margin:200px auto 0;
	border-radius: 40px;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
	background: #fff;
	transition: all 0.3s ease;
	.input_b {
		margin:0 48px 0 10px;
		#search {
			width:100%;
			height:30px;
			padding-left:10px;
			margin-top:5px;
			border:none;
			color:#586370;
		}
	}
	
	button {
		display:block;
		position:absolute;
		top:0;
		right:5px;
		width:40px;
		height:40px;
		background:none;
		border:none;
		span {
			display:block;
			width:18px;
			height:18px;
			margin:0 auto;
			background: {
				image:url(../images/search.png);
				repeat:no-repeat;
				size:18px 18px;
			}
		}
	}
}